Robot Recursos/*
SuiteTest/log/*
.idea/misc.xml
.idea/modules.xml
.idea/Robot Framework.iml
.idea/vcs.xml
.vs/slnx.sqlite
.idea/inspectionProfiles/*
.vs/VSWorkspaceState.json
.idea/*
log/*
workspace.code-workspace
DESAFIO_CasosTesteMod03.pdf
Robot Recursos/*

SuiteTest/logTest/
logApi/*
basic/SuiteTest/log/*
